#timer {
    font-size: 20px;
}
.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(241, 44, 176, 0.25);
    background-color: white;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(235, 105, 181, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice {
    padding: 1.5rem 2.5rem;
    background-color: #f709a7de;
    color: white;
  }
  
  .choice-text {
    padding: 1.5rem;
    width: 100%;
  }
  
  .correct {
    background-color: #39e761;
  }
  
  .incorrect {
    background-color: #e76a77;
  }
  

  
  #display {
    display: flex;
    justify-content: space-between;
  }
  
  .scores {
    text-align: center;
    font-size: 2rem;
  }
  
  .main-text {
    text-align: center;
  }