*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

h1 {
    text-align: center;
}


body {
    padding: 0;
    margin: 0;
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
}

.container {
   width: 800px; 
   max-width: 80%;
   background-color: white;
   border-radius: 5px;
   padding: 10px;
   box-shadow: 0 0 10px 2px;   
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: rgb(4, 97, 204);
    border: 1px solid darkblue);
    border-radius: 5px ;
    padding: 5px 10px;
    color: black;
    outline: none;
    font-size: 15px;
}

.btn:hover {
   border-color: black; 
   background-color: lightblue;
}



.start-btn, .next-btn {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none; 
}